In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

In [2]:
#Import csv as dataset
chocbar_df = pd.read_csv("../data/chocolate_bars.csv")
chocbar_df

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00
...,...,...,...,...,...,...,...,...,...,...,...
2525,1205,Zotter,Austria,2014,Blend,Raw,80.0,4.0,"B,S*,C,Sa","waxy, cloying, vegetal",2.75
2526,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75.0,3.0,"B,S,C","strong nutty, marshmallow",3.75
2527,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75.0,3.0,"B,S,C","fatty, earthy, cocoa",3.00
2528,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70.0,3.0,"B,S,C","fatty, mild nuts, mild fruit",3.25
2529,2170,Zotter,Austria,2018,Belize,Maya Mtn,72.0,3.0,"B,S,C","muted, roasty, accessible",3.50

In [11]:
chocbar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2530 non-null   int64
 1   manufacturer      2530 non-null   object
 2   company_location  2530 non-null   object
 3   year_reviewed     2530 non-null   int64
 4   bean_origin       2530 non-null   object
 5   bar_name          2530 non-null   object
 6   cocoa_percent     2530 non-null   float64
 7   num_ingredients   2443 non-null   float64
 8   ingredients       2443 non-null   object
 9   review            2530 non-null   object
 10  rating            2530 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 217.5+ KB

In [16]:
#Reviews each year
chocbar_df['year_reviewed'].value_counts().sort_index()

2006     62
2007     73
2008     92
2009    123
2010    110
2011    163
2012    194
2013    183
2014    247
2015    284
2016    217
2017    105
2018    228
2019    193
2020     81
2021    175
Name: year_reviewed, dtype: int64

In [19]:
#top ten highest rated chocolate bars
topten_rated = chocbar_df[['bar_name','rating', 'review']].sort_values('rating', ascending=False)
topten_rated.head(10)

                           bar_name  rating                            review
1829  Piura, Choc. Garage Exclusive     4.0             creamy, cocoa, grapes
575       Bejofo, 2019 H., Batch 20     4.0  cherry, perfectly balanced roast
150                          Tumaco     4.0              smooth, nutty, cocoa
2389                        Manjari     4.0      creamy, blueberry, raspberry
2047                         Asante     4.0      simple, delicate cocoa, long
491               Chuao, batch 1089     4.0    mild strawberry, cocoa, acidic
490    Valle de Los Rios, batch 990     4.0       complex, strawberry, floral
2051              San Juan de Cheni     4.0       banana, pear, spice, cheese
486   Maya Mtn, Batch 454, Heirloom     4.0     bright fruit, molasses, nutty
170                           Haiti     4.0       nuts, butterscotch, brownie

In [18]:
#bottom ten by rating
lowten_rated = chocbar_df[['bar_name','rating']].sort_values('rating', ascending=False)
lowten_rated.tail(10)

                           bar_name  rating
426                       Pichincha     1.5
763                            Noir     1.5
323         El Oro, Hacienda de Oro     1.5
2017                    100 percent     1.5
293                     One Hundred     1.5
1587                     Houseblend     1.5
632              Sensations Intense     1.0
430                          Baking     1.0
590   Principe, Sao Tome & Principe     1.0
1679                           Dark     1.0

In [27]:
#Sorting the manufacturer by rating
man_rated = chocbar_df[['manufacturer', 'rating']].sort_values('rating')
man_rated

                         manufacturer  rating
632                Cote d' Or (Kraft)     1.0
590                   Claudio Corallo     1.0
1679              Neuhaus (Callebaut)     1.0
430                         Callebaut     1.0
1587                       Middlebury     1.5
...                               ...     ...
972                            Fresco     4.0
999   Fresh Coast aka Just Good Choc.     4.0
1048                    Georgia Ramon     4.0
2467                        Woodblock     4.0
298                            Bonnat     4.0

[2530 rows x 2 columns]

In [29]:
#Which manufacturer has the highest overall (cumulative) rating?
top_man = (
    man_rated
        .groupby(by='manufacturer')
        .sum()
        .sort_values(by='rating', ascending=False)
)
top_man.head(1)

              rating
manufacturer
Soma           201.0

In [30]:
#Which manufacturer has the lowest raiting?
top_man.tail(1)

                    rating
manufacturer
Cote d' Or (Kraft)     1.0

In [ ]:
#Sort by bean origin and rating

In [ ]:
#Does